@import url('style.css');

body {
    background-image: url('/images/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 306px;
    height: 384px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-header {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

.card-header p:first-child {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}

.card-form {
    width: 100%;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: 0.58px solid #E7E3FC;
    border-radius: 12px;
    padding: 4px 12px;
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #C1C2C4;
}

.password-icon {
    position: absolute;
    left: 236px;
    bottom: 30px;
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.form-footer p,
.form-footer a {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.form-footer p:first-child {
    color: #C1C2C4;
}

.form-footer a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.form-button {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 0.58px solid #E7E3FC;
    border-radius: 14px;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
}

.form-button-primary {
    background-color: #3D4142;
}

.form-button-google {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.separator {
    color: #9D9EA1;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 4px 0;
}

@media screen and (min-width: 1024px) {
    .card-container {
        width: 529px;
        height: 663px;
        padding: 40px;
        gap: 40px;
    }

    .card-container>img {
        width: 163px;
        height: auto;
    }

    .card-header {
        font-size: 16px;
    }

    .card-header p:first-child {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .input-group {
        position: relative;
        margin-bottom: 20px;
    }

    .form-label {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .form-input {
        height: 50px;
        border-radius: 24px;
        border: 1px solid #E7E3FC;
        padding: 14px 20px;
        font-size: 16px;
    }

    .password-icon {
        width: 20px;
        height: 20px;
        left: 412px;
        bottom: 48px;
    }

    .form-footer {
        margin-top: 12px;
    }

    .form-footer p,
    .form-footer a {
        font-size: 16px;
    }

    .form-button {
        height: 50px;
        border: 1px solid #E7E3FC;
        border-radius: 24px;
        font-size: 16px;
    }

    .form-button-google {
        gap: 20px;
    }

    .separator {
        font-weight: 500;
        font-size: 14px;
        margin: 8px 0;
    }
}